# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Test output
a.out

# vim swap files
.*.swp
.swp
.*.swo
.swo

# vim youcompleteme compiled file
/.ycm_extra_conf.pyc

# Build files
/build/
/build[0-9]/
/*-build/
