# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Test output
a.out

# vim swap files
.*.swp

# Build files
Makefile
/config.log
/config.status
/src/.deps/
/src/test
/src/lin-dem
