Source: eris-symlinks
Section: science
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Homepage: https://git.imaginary.ca/eris/eris
Priority: optional
Standards-Version: 3.9.6

Package: eris-symlinks
Section: libs
Architecture: any
Multi-Arch: same
Depends: libeigen3-dev (>= 3.2.7), libboost-dev
Conflicts: liberis6, liberis-dev, eris-doc
Description: Eris economics agent-based modelling library (build hack package)
 This package is for development use: it installs symlinks into the local build directory to
 the standard system include/lib/docs locations.

